# ===================================================
# YumYatra Configuration & Secrets Environment File
# ===================================================

# Django Core Settings
SECRET_KEY=django-insecure-g0z#fr-hr2)ls@6wage!iyc#6ge_5e+e$(z%e)xuk$0lq6y2*^
DEBUG=True
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=https://*.vercel.app,https://*.now.sh,http://127.0.0.1,http://localhost

# Razorpay Payment Gateway Credentials
RAZORPAY_KEY_ID=rzp_test_Sm51ApkHEN14cp
RAZORPAY_KEY_SECRET=Kp9U7TYW1N69IGWfyFMOut1w

# Database (Optional: Leave empty for default SQLite or provide Postgres URL for Neon/Supabase)
# DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require
DATABASE_URL=
